<h1>訂單管理</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>訂單編號</td>
      <td>收件人姓名</td>
      <td>收件人地址</td>
      <td>電話</td>
      <td>Email</td>
      <td>狀態</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.order_number %></td>
      <td><%= order.recipient %></td>
      <td><%= order.address %></td>
      <td><%= order.tel %></td>
      <td><%= order.email %></td>
      <td><%= order.state_readable %></td>
      <td>
        <% if order.pending? %>
          <%= link_to 'pay', '#', class:'btn btn-xs btn-danger' %>
        <% elsif order.paid? %>
          <%= link_to 'out', '#', class:'btn btn-xs btn-danger' %>
        <% elsif order.out? %>
          <%= link_to 'deliver', '#', class:'btn btn-xs btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
